
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.test{
    background-color: white;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
   
}
.one{
    background-color: bisque;
    width: 600px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.circle{
    position: relative;
    bottom: 50px;
    left: 250px;
    width: 96px;
    height: 96px;
    border-radius: 48px;
}
.circle img{
    width: 96px;
    height: 96px;
    border-radius: 48px;
}
span,h2{
    color: #999;
}
.profil{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}
.profil p{
    color: #999;
}
.separate{
    width: 100%;
    height: 1px;
    background-color: #999;
}
@media screen and (max-width:900px) {
    .test{
        background-color: white;
        width: 600px;
      
      
        
    }
    .test .one .two{
        width: 100%;
    }
        
}